NEXTAUTH_SECRET= # Mac/Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32
NEXTAUTH_URL=http://localhost:3000

NEXT_PUBLIC_ENABLE_TESTNETS=false
NEXT_PUBLIC_ALCHEMY_API_KEY="_gg7wSSi0KMBsdKnGVfHDueq6xMB9EkC"
